body{
    background-image: url(../imagen/fondocanchas.jpg);

    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
}
cancha{
    background-image: url(../imagen/artificial-intelligence-3382507_1280.jpg);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
}
h1,h3{
    text-align: center;
    text-decoration: solid aliceblue;
}



