body{
    background-image: url(../imagen/fondocanchas.jpg);

    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
}
body{
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
}



