body{
    background-image: url(../imagen/fondocanchas.jpg);

    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
}
cancha{
    background-image: url(../imagen/artificial-intelligence-3382507_1280.jpg);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
}
h1,h3{
    text-align: center;
    text-decoration: solid aliceblue;
}

<<<<<<< HEAD
duoccopas.jpg{
    width: 50%;
    height: 50%;
    background-image: url(../imagen/duoccopas.jpg);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
}

=======
.carousel-item img {
    height: 300px; /* Establece la altura deseada para las imágenes */
    object-fit: cover; /* Ajusta la imagen para que cubra todo el espacio sin distorsión */
}
>>>>>>> 705f196f3175becd92ce3cd653139f1f36bda4f2

